# Supabase Configuration
SUPABASE_URL=https://bypxtnuvdldhwsprhvbq.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5cHh0bnV2ZGxkaHdzcHJodmJxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY1Mzk5ODQsImV4cCI6MjEwMjExNTk4NH0.WphY3WCHLrbAUDe-7JmKTdJmZLX-PiH4VriZ8Bp04vM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5cHh0bnV2ZGxkaHdzcHJodmJxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NjUzOTk4NCwiZXhwIjoyMTAyMTE1OTg0fQ.BdV_LoaHXh5DAF08OpSKLgl9szNcYq7fn60Lw5s4xGE
SUPABASE_DB_PASSWORD=tAcjkLGeMTDRMZFK
